* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.header {

    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color:rgb(126, 9, 9);
}

.left-sidebar {
   
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#map {
    width: 100%;
    height: 80vh;
}

/* grid container */
.left-sidebar-grid {
    display:grid;
    grid-template-areas:
        'header'
        'left-sidebar'
        'main-content'
        ;

}

/* general column padding */
.left-sidebar-grid > * {
    padding:1rem;
}

/* assign columns to grid areas */
.left-sidebar-grid > .header {
    grid-area:header;

}
.left-sidebar-grid > .main-content {
    grid-area:main-content;

}
.left-sidebar-grid > .left-sidebar {
    grid-area:left-sidebar;

}


/* tablet breakpoint */
@media (min-width:768px) {
    .left-sidebar-grid {
        grid-template-columns:repeat(3, 1fr);
        grid-template-areas:
            'header header header'
            'left-sidebar main-content main-content';
    }
}